@charset "ntf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#detaul {
    width: 930px;
    height: 60px;
    align-self: center;
    
}

#detaul ul {
    width:  100%;
    display: flex;
    border-bottom: #222;
}

#detaul ul li {
    width: 100%;
    height: 49px;
    
    text-align: center;
    padding-top: 15px;
    background-color: rgb(247, 244, 244);
    
  
}
#detaul ul li:hover, #submain ul li.active{ background-color: #fff; border: 1px solid #000; border-bottom: none; }
#detaul ul li:hover, #shpping ul li.active{ background-color: #fff; border: 1px solid #000; border-bottom: none; }
#detaul ul li:hover, #review ul li.active{ background-color: #fff; border: 1px solid #000; border-bottom: none; }
#detaul ul li:hover, #inquiy ul li.active{ background-color: #fff; border: 1px solid #000; border-bottom: none; }


#wrap{ width: 1250px; height: auto; margin: 0 auto;}
#sub {
    width: 1250px;
    height: 800px;
    position: relative;
    display: flex;
    top: 80px;
    margin: 0 auto;

}



#contents1 {
    width: 50%;
    height: 800px;

}


.subimg {
    width: 100%;
    height: 600px;

    display: inline-block;


}

.subimg img {
    width: 550px;
    height: 550px;
    position: absolute;
    
}

.subimg img:not(:first-child) {
    display: none;
}


.subimgs {
    width: 500px;
    height: 110px;

    transform: translate(4%,-21%);
    bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.subimgs img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.subimgs img:hover {
    opacity: 0.5;
}

#contents2 {
    width: 50%;
    height: 800px;

}

.name {
    width: 100%;
    height: 800px;
    float: right;
    top: 0;
    right: 0;
    ;

}

.name1 {
    width: 600px;
    height: 150px;
    line-height: 50px;
}

.name2 {
    width: 600px;
    height: 120px;
    border: 1px solid #888;
    border-radius: 30px;
    padding: 20px 30px;
}

.name2 .dli1 {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.name2 p {
    font-size: 15px;
}

.name2 .dli1 p {
    text-decoration: line-through;
}

.name2 .dli2 p {
    text-decoration: none;
    color: tomato;
}

.name3 {
    width: 600px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.name3 .dli {
    width: 100%;
    height: 100px;
}

.name3 img {
    width: 80px;
    height: 80px;
    float: left;
    margin: 10px 0 0 10px;
}

.name3 .dli1 {
    width: 500px;
    height: 50px;
    float: right;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px;
}






.tex {
    width: 600px;
    height: 60px;
    padding: 10px;
}

.tex p {
    width: 100%;
    height: 30px;
    ;
    font-size: 18px;
}

.tex p span {
    color: tomato;
}

.buttonbox {
    display: flex;
  
}

.buttonbox button {
    width: 20%;
    height: 30px;
    border-radius: 10px;
    border: 0;
    margin: 0 0 0 15px;
}

.name4 {
    width: 600px;
    height: 60px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}



.name5 {
    width: 400px;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
}

.name5 h2 {
    padding: 20px;
    width: 100px;
}

.name5 div {
    width: 50px;
    height: 50px;
    border: 5px solid #e7e7e7;
    border-radius: 50%;
    align-self: center;
}

.wh {
    background-color: #c9c1b9;
}

.mgr {
    background-color: #889599;
}

.sgr {
    background-color: #8c6f56;
}

.cm {
    background-color: #768287;
}

.name5 div:hover {
    opacity: 0.5;
}



/* 네이버페이구매 */
#naver {
    width:1250px;
    height: 150px;

    margin: 0 auto;
    display: flex;
    justify-content: flex-end
}

.naverbox {
    width: 380px;
    height: 95px;
    justify-content: flex-end;
    right: 100px;
    border-top: 3px solid black;
    border-bottom: 0.5px solid #999;
    display: flex;
    padding: 20px 0 0 0;

}

.naverpay img {
    width: 65px;
    height: auto;
}

.naverpay p {
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.naverimg .img1 {
    width: 150px;
    margin: 0 0 0 8px;
}

.naverimg .img2 {
    width: 46px;
    border: 1px solid #777;
}

.naverimg .img3 {
    width: 43px;
    border: 1px solid #777;
}


/* 관심상품,장바구니 구매버튼 */

#buttonbox { width: 600px;display: flex; justify-content: space-around;}
#buttonbox button {
    width: 180px;
    height: 60px;
    position: relative;
    background-color: #8c6f56;
    border: 0;
    
}

#buttonbox button:last-child {
    width: 250px;
    background-color: #ef2528;
}

#buttonbox .but3 img {
    position: absolute;
    top: 19px;
    left: 65px;
}

#buttonbox .but3 span {
    position: absolute;
    top: 17px;
    right: 50px;
}

#buttonbox .pick {
    width: 25px;
    position: absolute;
    top: 15px;
    left: 44px;
}


#buttonbox span {
    position: absolute;
    top: 17px;
    left: 76px;
    font-size: 20px;
    color: white;


}

#reviewsbox {
    width: 1250px;
    height: 200px;
    margin: 0 auto;
    border-top: 4px solid rgb(71, 70, 70);
}

#reviews {
    width: 1250px;
    height: 160px;
    margin-top: 40px;
    display: flex;
    padding: 20px;
    border: 1px solid #999;

}

.review1 {
    width: 50%;
}

.review1 img:hover{ opacity: 0.5;
                    }
.reviewt {
    display: flex;
    justify-content: space-between;
}

.reviewt p {
    margin-right: 91px;
}

.review1 img {
    width: 75px;
    height: 75px;
    margin: 25px 3px 0 5px;
}

.review2 {
    width: 50%;
    margin: 0 0 0 10px;
}

.review2 p {
    transform: translate(36%, 19%);
    height: 55px;
}


/* 이벤트베너 */
.eventb {
    width: 1250px;
    margin: 0 auto;
}

.eventb img {
    width: 100%;
    margin: 20px 0 20px 0;
}

/*  서브메인 */
#submain {
    width: 1250px;
    height: auto;
    margin: 0 auto;
   display: flex;
  
    
    
}





#information-box{ width:980px; height: auto;
            }
.information {
    border: 1px solid#889599; margin: 20px 0 10px 0;
    padding: 10px;
    display: flex;
    height: 139px;
    
}

.infor1{ width: 200px;transform: translate(23%, 42%); }
.infor1 p{color:black; font-weight: bold;}

.infor2 img{float: left; padding: 20px; width: 96px; height: 123px;}
.infor_{ width: 500px; line-height: 30px;
        padding: 30px;}

.wa{color: tomato;}
.wa{margin:40px 0 30px 0;}


.subb img{ width: 100%;
    margin: 25px 0;}
.subb img:nth-child(2) {
    width: 100%;
    height: 400px;
    margin:  30px 0;
}

hr{ margin:150px 0;}
.submain h2{ text-align: center; font-size: 40px; margin: 100px; line-height: 80px; color: rgb(22, 22, 22);}
.submain img{ width: 100%; margin: 40px 0;}

 /* 상세페이지 색상종류 */

 .kind{ width: 85%;  margin: 0 auto;}
 .kind>h2{font-size:30px; padding: 50px 0 25px 0;  border-bottom: 1px solid #999;}
 .color figure>img{ width: 250px; height: auto;}
 .first{ display: flex; justify-content: space-around; padding: 30px 0 15px 0; border-bottom:1px solid #999 ;}
 .first h3{font-size: 30px;}
 .second{ display: flex; justify-content: space-between; border-bottom: 1px solid #999;}
 .second h3{ padding: 31px 0 0 46px; width: 266px; font-size: 30px;}
 
 .second span{ display: flex; flex-wrap: wrap;justify-content: space-around;
             padding: 35px 0 0 108px ;}
                 
 .second span figure{ width: 245px;}
 .second .color figcaption{ font-size:  28px;}
 
 .third{ display: flex; justify-content: space-around;padding: 30px 0 30px 0 ;
         border-bottom: 1px solid #999;}
 .third h3{ width: 200px; padding: 5px 0 0 41px; font-size: 30px;}
.third span{ font-size: 25px; line-height: 40px;}
 
.size1{ font-size: 30px;}


.pp>h1{font-size: 50px; color: #555; margin:50px 0 20px 50px}
.pp p{ font-size: 25px;  margin: 50px 0 20px 50px;}

.font1{ font-size: 20px; color:#555; margin: 80px 0 0 60px; }
.font2{ font-size: 50px; color:#222; margin:50px 0 80px 60px;}

.poc1 {margin: 100px 0 50px 50px;}
.poc1 h1{font-size:40px; margin: 30px 0; }
.poc1 span{ font-size:25px; line-height:  45px; margin-top: 30px; }

#photoriview img {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}



#table1 th{width: 200px; height: 60px; background-color: #e7e7e7;font-size: 15px;}
#table1 td{ width: 293px; background-color: #f7f7f7;}
#table1 h2{ margin: 150px 0 50px 0;}



#table2 th{ width: 200px; height: 60px; background-color: #e7e7e7; font-size: 15px;}
#table2 td{width: 788px;background-color:#f7f7f7; padding: 10px;}
#table2 h2{ margin: 130px 0 50px 0;}

#table3{ margin: 0 0 100px 0;}
#table3 th{ width: 200px; height: 60px; background-color: #e7e7e7; font-size: 15px;}
#table3 td{width: 788px;background-color: #f7f7f7; padding: 10px;}
#table3 h2{ margin: 130px 0 50px 0;}


/* aside */

aside {
    width: 354px;
    height: auto;
    margin: 0 0 30px 4px;
    position: relative;
    
}

.figure{display: flex; flex-wrap: wrap ;justify-content: center; align-content: center;}
.with{  border-bottom:1px solid rgb(17, 17, 17); margin: 5px;}
.with h2{ margin: 20px;}
.with img{ width: 20px; }
.btl{ margin-left: 60px; margin-bottom: -4px;}
.btl1{ margin: 0 0 -4px 122px; }
.btr{ margin-bottom: -4px;}


aside figure img{ width: 150px; height: 150px;}
aside figcaption{ width: 152px; line-height: 20px;}
.figure span{ font-size: 13px; text-decoration: line-through;}
.figure p{ font-size: 15px; color: black; font-weight: bold;}
.with>h3{ margin: 15px 0 10px 30px;}
.figure2{display: flex; flex-wrap: wrap ;justify-content: center; align-content: center;
    }

.f{ height: 240px; }
aside figure img{ width: 140px; height: 140px;}
aside figcaption{ width: 152px; line-height: 20px;}
.figure2 span{ font-size: 14px; text-decoration: line-through;}
.figure2 p{ font-size: 15px; color: black; font-weight: bold;}

.flex{ position: sticky; top:120px;}


/* 배송안내 */
#shpping{ 
    width: 1250px; height: auto; margin: 0 auto;
}
#shpping img{ width: 74%; margin-bottom: 163px;}





.shpping-t{ margin: 50px 0 50px 0; }
.shpping-t p{width: 74.5%; height: 150px; border: 1px solid #c9c1b9;
    margin: 30px 0; line-height: 25px;padding: 30px; }


 
   
    
    #review {width:1250px; height: auto; margin: 0 auto; }
    .review-t p{ margin: 50px 0 10px 216px; }
    .review-t span{margin-left:274px;color: tomato;}

    .star-box{ display: flex; width:930px; height: 80px; border: 1px solid #c9c1b9; margin:  50px 0 50px 0;
                justify-content: center; align-items: center; font-size: 20px;}
    .star-box img{ width: 150px;}
    


/* 베스트상품후기 */


.bstreview { width: 930px; display: flex; border-bottom: 2px solid #999; padding: 0 0 30px 0;}
    .bstreview-box {display:flex; justify-content: space-around; width: 930px; height: auto; 
                   padding: 5px 5px 40px 5px;  }
    .bstreview span{ margin: 5px 0 0 50px; }
    .bstreview1 p{ color: rgb(119, 119, 119); font-size:12px;}

    .bstreview1 { width:206px; border-bottom: 1px solid 999;  margin: 30px 0 0 0;}
    .bstreview1 .rvi{ width: 180px; height: 180px; }

    .bstreview1 span{font-size: 11px; color: rgb(171, 171, 171);}
    .bstreview1 p .bs1{width: 75px;margin-bottom: -4px;}
    .bstreview1 div{ font-size: 12px; line-height: 18px;}
    .bstreview1 .good{display:flex; width: 100px; height: 26px; border: 1px solid rgb(153, 152, 152); border-radius: 20px;
                    margin:9px 0 0 0;}
    .bstreview1 .good>img{ width: 17px;height:  18px; margin:1px 0 0 16px;}
    .bstreview1 .good>span{ margin:5px 0 0 4px; }
        .review-boxall{ margin-bottom: 50px;}
    /*  상품후기  */

    .rivew-menu{ width: 30%; height: 40px; margin: 55px 0;}
    .rivew-menu ul{display: flex; text-align: center; }
    .rivew-menu ul li{width: 50%; height: 40px; border: 1px solid #999;  border: 0;
                    font-size: 17px; line-height: 30px; background-color: rgb(247, 244, 244);} 
    .rivew-menu ul li:hover{background-color: #fff; border: 1px solid #000; border-bottom: none; }


    /* 상품문의 */

    #inquiy{ width: 100%; height:auto;}
    #inquiy h1{ margin: 50px 0;}
    #inquiy p{ width: 930px; margin: 40px 0 90px 0; line-height: 23px;}
    #inquiy p span{ color:tomato;}

    /* 상품문의 답변상태 */
    select{ width: 120px; height: 40px;}
    select option{ width: 120px; height: 40px;}
    input{ width: 450px; height: 40px;}
    #inquiy button{ width:110px; height: 40px; background-color: #222; color: white;}
    #inquiy button:hover{ background-color: #999; border:0;}
    .reset{ width: 110px; height: 40px;background-color: #222; color: white; }
    .reset:hover{ background-color: #999; border: 0; cursor: pointer;}

    /* 상품문의박스 */
    .inquiybox{ width:930px; height: auto; border-top: 1px solid #555; margin: 40px 0;}

    /* 상품문의 테이블 */
        .inquiybox{ background-color: rgb(241, 241, 241);;}
        .inquiybox th{ border:1px solid #e7e7e7;  border-collapse:collapse; }
        .inquiybox table th:first-child, .inquiybox table th:last-child{border:none; border-top:1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7;}

        /* 상품문의 경고이미지 */
        .inquiybox-img img{ width: 100px; align-self: center;}
        .inquiybox-img{ width: 930px; height:400px; display: flex; flex-direction: column;
            justify-content: center;align-items: center; }
  .inquiybox-img span{color:rgb(163, 163, 163);}
        
/* 상품문의 페이지화살표 */
.page{ width:100%; height:50px; display: flex; justify-content: center;}
.page p{ width: 50px; height: 30px; border: 1px solid #e7e7e7;}
.page img{ width: 27px;}